@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant light (&:where([data-tw-theme=light], [data-tw-theme=light] *), &:where(.tw-light-mode, .tw-light-mode *));
@custom-variant dark (&:where([data-tw-theme=""=dark], [data-tw-theme=dark] *), &:where(.tw-dark-mode, .tw-dark-mode *));

@source inline('{sm:,md:,lg:,xl:,2xl:,}rounded-{tl,tr,bl,br,}-{sm,md,lg,xl,}');
@source inline('{sm:,md:,lg:,xl:,2xl:,}rounded-[{0..100..10}px]');
@source inline('{sm:,md:,lg:,xl:,2xl:,}text-center,text-start');
@source inline('{sm:,md:,lg:,xl:,2xl:,}text-black');
@source inline('{sm:,md:,lg:,xl:,2xl:,}flex-row-reverse');
@source inline('{sm:,md:,lg:,xl:,2xl:,}grid-cols-{1,2,3,4,5,6,7,8,9,10,11,12}');
@source inline('{sm:,md:,lg:,xl:,2xl:,}col-span-{1,2,3,4,5,6,7,8,9,10,11,12}');
@source inline('{sm:,md:,lg:,xl:,2xl:,}col-start-{1,2,3,4,5,6,7,8,9,10,11,12}');
@source inline('{sm:,md:,lg:,xl:,2xl:,}row-start-{1,2,3,4,5,6,7,8,9,10,11,12}');
@source inline('{sm:,md:,lg:,xl:,2xl:,}{gap-,gap-x-,gap-y-}{2..40..2}');
/* @source inline('{sm:,md:,lg:,xl:,2xl:,}gap-x-[{2..40..2}]');
@source inline('{sm:,md:,lg:,xl:,2xl:,}gap-y-[{2..40..2}]'); */
@source inline('{sm:,md:,lg:,xl:,2xl:,}aspect-{square,video,auto,[2/3],[3/4],[4/3],[16/9],[21/9],}');
@source inline('bg-{top,center,bottom}');
@source inline('{sm:,md:,lg:,xl:,2xl:,}place-content-center');
@source inline('{sm:,md:,lg:,xl:,2xl:,}{pe,ps,pb,pt,pl,pr,px,py,}-{{1..20..1},auto}');
@source inline('{sm:,md:,lg:,xl:,2xl:,}{me,ms,mb,mt,ml,mr,mx,my,-mt}-{{1..80..1},auto}');
@source inline('{sm:,md:,lg:,xl:,2xl:,}{w-,max-w-,min-w-,h-,max-h-,min-h-}[{0..800..10}px]');
@source inline('{sm:,md:,lg:,xl:,2xl:,}{w-,max-w-,min-w-,h-,max-h-,min-h-}[{0..100..2}%]');
@source inline('{sm:,md:,lg:,xl:,2xl:,}{max-w-,max-h-}none');
@source inline('{sm:,md:,lg:,xl:,2xl:,}block{!}');
@source inline('{sm:,md:,lg:,xl:,2xl:,}bg-grey-dark{/}{0..100..10}');


@theme {
  --font-sora: "Sora", "sans-serif";
  --breakpoint-3xl: 120rem;
  --container-8xl: 85rem;
  --container-10xl: var(--breakpoint-3xl);

  --color-dim: oklch(64.4% 0 0);
  --gradient-primary: linear-gradient(90deg, oklch(100% 0 0) 0%, oklch(0% 0 0) 100%);

  --color-body-text: oklch(0% 0 0);
  --color-page-background: transparent;
  --color-body-background: var(--color-page-background, oklch(100% 0 0));

  --color-primary: oklch(0% 0 0);
  --color-limed-spruce: oklch(35.6% 0.016 225);
  --color-alto: oklch(88.4% 0 0);

  --color-grey: #333333;
  --color-grey-dark: #0C0C0C;

  --text-xs: 10px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 64px;
  --text-7xl: 80px;
  --text-8xl: 96px;
  --tw-leading: 1.25
}

:root {
  hyphens: auto;
  line-height: normal;

  --gradient-color-1: oklch(56.4% 0.175 345);
  --gradient-color-2: oklch(65.2% 0.172 15);
  --gradient-color-3: oklch(62.8% 0.164 30);
  --gradient-color-4: oklch(0% 0 0);
}

@layer theme {
  .tw-dark-mode {
    --color-body-text: oklch(100% 0 0);
    --color-body-background: var(--color-page-background, oklch(0% 0 0));
  }
  .tw-light-mode {
    --color-body-text: oklch(0% 0 0);
    --color-body-background: var(--color-page-background, oklch(100% 0 0));
  }
  .gradient-primary,
  .link-gradient {
    background: var(--gradient-primary);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-attachment: fixed; */
    background-size: 100vw 100dvh;
  }
  .link-gradient {
    @apply flex gap-4 mt-4 text-sm uppercase;
  }

  .rounded-corners {
    --teaser-border-radius: 2rem;
  }
  @media screen and (min-width: 640px) {
    .splide__slide .rounded-corners {
      --teaser-border-radius: 10rem;
    }
    .teaser-gallery__item .rounded-corners {
      --teaser-border-radius: 3rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .splide__slide .rounded-corners {
      --teaser-border-radius: 10rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .teaser-gallery__item .rounded-corners {
      --teaser-border-radius: 3rem;
    }
  }

}

:root {
  overflow-x: hidden;
}

@layer base {
  .container-fluid {
    @apply max-w-8xl mx-auto;
  }
  .container-fluid-xl {
    @apply max-w-10xl mx-auto;
  }

  [role=button] {
    cursor: pointer;
  }
  .svg-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 2em;
  }
  .svg-icon svg {
    display: block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    width: 1em;
    height: 1em;
  }

  .svelte-layout {
    font-family: var(--font-sora);
    font-weight: 400;
    font-size: var(--text-base, 1rem);
    line-height: 1.5;
    color: var(--color-body-text);
    background-color: var(--color-page-background, var(--color-body-background));
    overflow-x: hidden;
  }

  .tw-dark-mode,
  .tw-light-mode {
    color: var(--color-body-text);
  }

  article ul,
  article ol {
    list-style: disc;
    padding-left: 1rem;
  }
  article .image {
    display: block;
    margin-bottom: 1rem;
  }

  article {
    b,
    strong {
      font-weight: 700;
    }
  }

  .page-section__inner {
    @variant lg {
      &:where(.lg\:py-0 > *) {
        padding: 0;
      }
    }
  }
}

@utility container {
  margin-inline: auto;
}

.article {
  h1 {
    @apply text-6xl font-bold mb-10;
    letter-spacing: -0.15625rem;
    line-height: 5rem;
    @variant lg {
      @apply text-5xl;
    }
    @variant xl {
      @apply text-6xl;
    }
    @variant 2xl {
      @apply text-8xl;
    }
  }
  h1 + p {
    @apply text-2xl;
    line-height: 1.25;
    @variant lg {
      @apply text-xl;
    }
    @variant xl {
      @apply text-2xl;
    }
    @variant 2xl {
      @apply text-4xl;
    }
  }

  h2 {
    @apply text-3xl mb-8;
    font-weight: normal;
    letter-spacing: -.5px;
    line-height: 3rem;
    @variant lg {
      @apply text-4xl;
      line-height: 1.25;
    }
    @variant xl {
      @apply text-5xl;
    }
  }
}
/* .text-block {
  p {
  } 
  &.text-lg {
    p {
      @apply text-base;
      @variant md {
        @apply text-lg;
      }
    }
  }
  &.text-xl {
    p {
      @apply text-lg;
      @variant md {
        @apply text-xl;
      }
    }
  }
  &.text-2xl {
    p {
      @apply text-xl;
      @variant md {
        @apply text-2xl;
      }
    }
  }
} */
.text-block p { @apply text-base leading-[1.875]; }
.text-block.text-sm p { @apply text-sm; }
.text-block[class*="md:text-sm"] p { @variant md { @apply text-sm; } }
.text-block[class*="lg:text-sm"] p { @variant lg { @apply text-sm; } }
.text-block[class*="xl:text-sm"] p { @variant xl { @apply text-sm; } }
.text-block.text-lg p { @apply text-lg; }
.text-block[class*="md:text-lg"] p { @variant md { @apply text-lg; } }
.text-block[class*="lg:text-lg"] p { @variant lg { @apply text-lg; } }
.text-block[class*="xl:text-lg"] p { @variant xl { @apply text-lg; } }
.text-block.text-xl p { @apply text-xl; }
.text-block[class*="md:text-xl"] p { @variant md { @apply text-xl; } }
.text-block[class*="lg:text-xl"] p { @variant lg { @apply text-xl; } }
.text-block[class*="xl:text-xl"] p { @variant xl { @apply text-xl; } }
.text-block.text-2xl p { @apply text-2xl; }
.text-block[class*="md:text-2xl"] p { @variant md { @apply text-2xl; } }
.text-block[class*="lg:text-2xl"] p { @variant lg { @apply text-2xl; } }
.text-block[class*="xl:text-2xl"] p { @variant xl { @apply text-2xl; } }

.definition-list .accordion-header:not(:has(.collapsed)),
.article h2 {
  &:has(+ p) {
    position: relative;
    &::after {
      content: '';
      display: block;
      position: relative;
      margin-block: 2.5rem;
      width: 8rem;
      height: 0;
      background-color: transparent;
      border-width: 0 0 .0125rem 0;
      border-image: var(--gradient-primary) 1;
      border-style: solid;
    }
  }
}
.grid-teaser__subheadline {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: relative;
    margin: 2.5rem 0 1rem;
    width: 8rem;
    height: 0;
    background-color: transparent;
    border-width: 0 0 .0125rem 0;
    border-image: var(--gradient-primary) 1;
    border-style: solid;
  }
}

.definition-list .accordion-header:not(:has(.collapsed)) {
  position: relative;
  &::after {
    margin-block: 1.5rem;
  }
}


.case-hero,
.page-section__foreground {
  .container-fluid {
    @apply px-10;
  }
}

.border-gradient {
  position: relative;
  padding: 1.5rem 3rem;
  margin: .125rem;
  display: inline-block;
  /* font-size: 30px; */
  /* border: double .125rem transparent;
  border-radius: 30px;
  background-image: linear-gradient(black, black), var(--gradient-primary);
  background-origin: border-box;
  background-clip: content-box, border-box; */
}
.border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4rem;
  padding: .125rem;
  background: var(--gradient-primary);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}

.section--logo-section {
  text-align: center;
  .image {
    display: flex;
    width: 50vw;
    margin-inline: auto;
  }
}

.section--teaser-section {
  .content-columns {
    .article {
      @apply bg-grey/30 p-8 rounded-[2.5rem] rounded-tl-none;
      .image {
        @apply max-w-[4rem];
      }
      h3 {
        @apply mb-4;
      }
      p {
        @apply text-sm;
        line-height: 1.75;
      }
  }
  }
}